<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HotelDekstopDB" connectionString="Data Source=LULLAK\MSSQLSERVER01;Initial Catalog=HotelDB;Integrated Security=SSPI;TrustServerCertificate=True;"/>
		<add name="HotelLaptopDB" connectionString="Data Source=localhost;Initial Catalog=HotelDB;Integrated Security=SSPI;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>